body {
    /* background-color: gray; */
    background-image: url('https://wallpapercave.com/wp/wp3917265.jpg');
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    font-size: 1.5rem;
    margin-left: 5vw;
}

.hide {
    display: none !important;
}

#titleBar {
    margin-left: 5vw;
    margin-top: 5vh;
    font-size: 5rem;
    color: plum;
    text-shadow: 1px 1px purple;
}

#cornerLogo {
    margin-right: 15vw;
}

#loginPageContainer {
    font-weight: bold;
    grid-column: auto;
    display: grid;
    justify-items: center;
    margin-top: 10vh;
    font-size: 1.5rem;
}

#signUpSentence {
    font-size: 1.1rem;
}

#loginDisplay {
    width: fit-content;
    display: grid;
    justify-items: right;
}

#loginButton {
    border-radius: 10%;
    font-size: 1.1rem;
    color: whitesmoke;
    background: purple;
    box-shadow: 2px 2px 2px plum;
}

#signUpMessage {
    width: fit-content;
    text-align: right;
    color: plum;

    font-size: 1.3rem;
    text-shadow: 1px 1px darkmagenta;
    margin-top: 5vh;
}

.createAccMsg {}

#signUpLink {
    border-radius: 10%;
    font-size: 1rem;
    color: whitesmoke;
    background: purple;
    box-shadow: 2px 2px 2px plum;
}

#signUpForm {
    width: fit-content;
    display: grid;
    justify-items: right;
}

#signUpPage {
    font-size: 1.5rem;
}

.signUpInfo {
    margin-top: 1vh;
    margin-bottom: 2vh
}

#signUpButton {
    border-radius: 10%;
    font-size: 1.1rem;
    color: whitesmoke;
    background: purple;
    box-shadow: 2px 2px 2px plum;
}

#signUpErrors {
    text-align: right;
    color: plum;
    font-size: 1.3rem;
    text-shadow: 1px 1px purple;
}

#newPostDiv {
    display: grid;
    width: 25vw;
    grid-template-rows: auto auto;
    grid-template-areas:
        'newPostTextBox'
        'submitNewPostButton';
}

#newPostTextBox {
    width: 46vw;
    height: 15vh;

}

#submitNewPostButton {
    width: 5vw;
    justify-self: center;
}

.userPostDiv {
    background-color: lightblue;
    border-radius: 10%;
    min-width: 25vw;
}

.optionsBar {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-areas:
        "updatePostButton deletePostButton";
    grid-column-gap: 5%;

}

.updatePostButton {
    color: green;
    height: fit-content;
    width: fit-content;
}

.deletePostButton {
    color: red;
    justify-self: right;
}

.updatePostTextArea {
    width: 15vw;
    height: 15vh;
}

.userPostDiv:hover {
    opacity: 80%;
    cursor: pointer;
}

.postCreatorName {
    font-size: .8rem;
    padding-top: .5rem;

}

.postText {
    padding-bottom: .5rem;
    padding-left: .5rem;
}

#homePageContainer {
    display: grid;
    margin-top: 10vh;
    grid-template-columns: 20vw 50vw;
    /* grid-gap: ; */
    grid-column-gap: 15vw;
    /* justify-content: center; */

    grid-template-areas:
        "navPanelContainer resultContainer "
        "navPanelContainer individualPostContainer "
        "navPanelContainer profileSettingsContainer ";
}

#navPanelContainer {
    justify-self: right;
    /* overflow: hidden; */
}

#navPanelDiv {
    display: grid;
    grid-template-columns: auto;
    row-gap: 5vw;
    grid-template-areas:
        "goHomeButton"
        "logOutButton";
}

#userNameLogo {
    font-size: 4rem;
    font-family: cursive;
    margin-bottom: 5vh
}

#goHomeButton {}

#logOutButton {}

#resultContainer {
    justify-self: center;
    height: 80vh;
    overflow: auto;
    padding: 2%;
}

#individualPostContainer {
    justify-self: center;
    height: 80vh;
    overflow: auto;
    padding: 2%
}

#profileSettingsContainer {
    justify-self: center;
}

#updateSettingsDiv {
    background-color: lightblue;
    display: grid;
    width: 100%;
    height: 100%;
}


a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: plum;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: plum;
    background-color: transparent;
    text-decoration: underline;
}