body {
    background-color: gray;
}

.hide {
    display: none !important;
}


#loginPageContainer {
    /* width: 80vw; */
    grid-column: auto;
    display: grid;
    justify-items: center;
}

#loginDisplay {
    width: fit-content;
    display: grid;
    justify-items: right;
}

#signUpMessage {
    width: fit-content;
    text-align: right;
}

#signUpForm {
    width: fit-content;
    display: grid;
    justify-items: right;
}

#signUpErrors {
    text-align: right;
}

#newPostDiv {
    display: grid;
    width: fit-content;
    grid-template-rows: auto auto;
    grid-template-areas:
        'newPostTextBox'
        'submitNewPostButton';
}

#newPostTextBox {
    width: 25vw;
    height: 15vh;
}

#submitNewPostButton {
    width: 5vw;
    justify-self: center;
}

.userPostDiv {
    background-color: lightblue;
    border-radius: 10%;
    min-width: 25vw;
}

.optionsBar {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-areas:
        "updatePostButton deletePostButton";
    grid-column-gap: 5%;

}

.updatePostButton {
    color: green;
    height: fit-content;
    width: fit-content;
}

.deletePostButton {
    color: red;
    justify-self: right;
}

.updatePostTextArea {
    width: 15vw;
    height: 15vh;
}

.userPostDiv:hover {
    opacity: 80%;
    cursor: pointer;
}

.postCreatorName {
    font-size: .8rem;
    padding-top: .5rem;

}

.postText {
    padding-bottom: .5rem;
    padding-left: .5rem;
}

#homePageContainer {
    display: grid;
    grid-template-columns: 20vw 50vw 30vw;
    /* grid-gap: ; */
    grid-column-gap: 5vw;
    /* justify-content: center; */

    grid-template-areas:
        "navPanelContainer resultContainer newsContainer"
        "navPanelContainer individualPostContainer newsContainer"
        "navPanelContainer profileSettingsContainer newsContainer";
}

#navPanelContainer {
    justify-self: left;

}

#navPanelDiv {
    display: grid;
    grid-template-columns: auto;
    row-gap: 5vw;
    grid-template-areas:
        "goHomeButton"
        "logOutButton";
}

#goHomeButton {}

#logOutButton {}

#resultContainer {
    justify-self: center;
}

#individualPostContainer {
    justify-self: center;
}

#profileSettingsContainer {
    justify-self: center;
}

#updateSettingsDiv {
    background-color: lightblue;
    display: grid;
    width: 100%;
    height: 100%;
}