body {
    background-color: gray;
}

.hide {
    display: none !important;
}


#loginPageContainer {
    /* width: 80vw; */
    grid-column: auto;
    display: grid;
    justify-items: center;
}

#loginDisplay {
    width: fit-content;
    display: grid;
    justify-items: right;
}

#signUpMessage {
    width: fit-content;
    text-align: right;
}

#signUpForm {
    width: fit-content;
    display: grid;
    justify-items: right;
}

#signUpErrors {
    text-align: right;
}

#newPostDiv {
    display: grid;
    width: fit-content;
    grid-template-rows: auto auto;
    grid-template-areas:
        'newPostTextBox'
        'submitNewPostButton';
}

#newPostTextBox {
    width: 25vw;
    height: 15vh;
}

#submitNewPostButton {
    width: 5vw;
    justify-self: center;
}

.userPostDiv {
    background-color: lightblue;
    border-radius: 15%;
}

.userPostDiv:hover {
    opacity: 80%;
    cursor: pointer;
}

.postCreatorName {
    font-size: .8rem;
    padding-top: .5rem;

}

.postText {
    padding-bottom: .5rem;
    padding-left: .5rem;
}

#homePageContainer {
    display: grid;
    grid-template-columns: 20vw 50vw 30vw;
    /* grid-gap: ; */
    grid-column-gap: 5vw;
    /* justify-content: center; */

    grid-template-areas:
        "navPanel resultContainer newsContainer"
        "navPanel individualPostContainer newsContainer";
}

#navPanel {
    justify-self: left;
}

#resultContainer {
    justify-self: center;
}

#individualPostContainer {
    justify-self: center;
}